* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {

}

.title {
    /* background-color: red; */
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    word-spacing: 7px;
    margin: 1rem auto;
}

.title span {
    display: block;
    margin-bottom: -60px;
    font-size: 1rem;
    text-transform: uppercase;
}

.item {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    font-weight: 700;
    background: #fac000;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.15s ease;
}

.item:hover {
    color: #FFF;
}

/* CONTAINER */

#container {
    width: 95vw;
    height: 70vh;
    margin: 0 auto;
    background-color: whitesmoke;
    outline: 8px solid #8256e7;

    /* GRID CONTAINER PROPS */

    display: grid;
    /* Define o elemento como um grid-cotainer (contêiner de grade) e estabelece um novo contexto de formatação de grade para seu conteúdo. Values:
        - grid: gera uma grid (grade) em nível de bloco.
        - inline-grid: gera uma grid em nível embutido/linha 
    */

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    /* Define as colunas e linhas da grid com uma lista de valores separados por espaço. Os valores representam o tamanho da track(trilha) e o espaço entre eles representa  grid-line (linha da grade). Values:
        - <track-size>(tamanho da trilha): pode ser um comprimento, uma porcentagem ou uma fração do espaço livre na grade (usando a unidade fr)
        - <line-name>(nome da linha): um nome arbitrário da sua escolha
        - Demonstração de values:
            grid-template-columns ou grid-template-row: ... ...;
                * auto(default) - a column ou row prenche o espaço restante da grid
                * 1fr 1fr - (unidade de fração da grid, divide a grid em frações iguais de acordo com valor adicionado ao fr(1fr 1fr = 50% 50%))
                * minmax (10px, 1fr) 3fr - minmax(value min, value max): especifica o tamanho máximo e mínimo que uma certa column ou row terá. ex: minmax(300px, 1fr)
                * repeat(5, 1fr) - repeat(nº de columns/rows, unidade): ex: repeat(3, 1fr)
                * repeat(auto-fill, 300px) - o "auto-fill" especifica que irá tentar preencher todo o espaço da grid, criando o máximo possível de columns com 300px(neste caso), "MESMO SE NÃO HOUVER ITENS PARA PREENCER TODA A GRID"(deixando colunas com espaços em branco na grid) 
                * repeat(auto-fit, 300px) - o "auto-fit" especifica que irá tentar preencher todo o espaço da grid, criando o máximo possível de columns com 300px(neste caso), "SÓ CRIA AS COLUNAS SE TIVERMOS ITENS PARA PREECHÊ-LAS" (não deixando colunas com espaços em branco na grid)
                * nomes das linhas das columns - ex: grid-template-columns: [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end]
        - NOTE: As linhas de grade recebem automaticamente números positivos a partir dessas atribuições (-1 sendo uma alternativa para a última linha) 
            * img demonstration
    */

    grid-auto-columns: 1fr;
    /* grid-auto-rows: 50px; */
    /* <grid-auto-columns> and <grid-auto-rows>: server para definir o tamanho de linhas ou colunas que temos a mais no container, onde não foi definido o tamanho pelo <grid-template-columns> e/ou <grid-template-rows>, ex:
        grid-auto-rows: 200px;
    */

    grid-auto-flow: row;
    /* controla como o algoritmo de arrumação automática funciona, especificando exatamente como os itens fluirão no grid, se um novo item adicionado vai ser colocado na sequencia da linha ou da coluna, values:
        - row (default): arrumação automática em linha
        - column: arrumação automática em coluna
        - dense: determina que o algoritmo de arrumação automática use um formato de compactação "denso", onde os novos itens serão adicionados primeiramente nos espaços em branco entre os itens da grid, depois seguira o fluxo normal(em row por padrão, mas você mudar para column). Isto talvez deixe os itens fora de ordem, preenchendo espaços deixados por itens maiores.
        - row-dense: igual ao dense mas preenche espaços em branco no sentido de linha 
        - column-dense: igual ao dense mas preenche espaços em branco no sentido de coluna
    */

    /* grid-row-gap: 10px; */
    /* grid-column-gap: 20px; */
    grid-gap: 10px;/* [grid-row-gap] [grid-column-gap] */
    /*
        <grid-row-gap> and <grid-column-gap>: server para determinar os tamanho das linhas da grid, basicamente os espações entre as "rows" e "columns". O <grid-gap> é um sorthand do <grid-row-gap> e <grid-column-gap>, que segue a ordem abaixo. Ex:
            grid-row-gap: 10px;
            grid-column-gap: 20px;
            grid-gap: 10px 20px; [grid-row-gap] [grid-column-gap]
    */



    /* align-items: stretch;    align items vertically in cell */
    /* justify-items: stretch;  align items horizontally in cell */
    place-items: stretch;/* [align-items] [justify-items] */
    /* <justify-items> and <align-items> servem para alinhar todos os items da grid "dentro de suas celulas" de uma vez só, onde o <justify-items> (alinha os itens na horizontal dentro de suas células) e <align-items> (alinha os itens na vertical dentro de suas células). Values para ambas as propriedades:
        - stretch(default): esticha/preenche todo o espaço (do eixo especificado) da célula.
        - start: alinha o item no inicio (do eixo especificado) da célula. 
        - end: alinha o item no fim (do eixo especificado) da célula.
        - center:  alinha o item no centro (do eixo especificado) da célula.
    O <place-items> é o shorthand do <justify-items> e <align-items>, que segue a ordem dada no ex:
        align-items: center;         // align items vertically in cell 
        justify-items: start;        // align items horizontally in cell
        place-items: center start;   // [align-items] [justify-items]
    */


    align-content: center; /* align grid vertically in container */
    justify-content: center;/* align grid horizontally in container */
    place-content: stretch;/* [align-content] [justify-content] */

    /* <justify-content> and <align-content> servem para alinhar a grid como um todo no/ em relação ao container, onde o <justify-content> (alinha a grid no eixo horizontal do contêiner) e <align-content> (alinha a grid no eixo vertical do contêiner). Values para ambas as propriedades:
        - stretch: esticha todos os itens da grid para preencher todo o espaço (do eixo especificado) no container.
        - start: alinha a grid no inicio (do eixo especificado) no container. 
        - end: alinha a grid no fim (do eixo especificado) no container.
        - center: alinha a grid no centro (do eixo especificado) no container.
        - space-around: coloca uma quantidade uniforme de espaço entre cada item da grade, com espaços de meio tamanho nas extremidades (no eixo especificado)
        - space-between: coloca uma quantidade uniforme de espaço entre cada item da grade, sem espaço nas extremidades (no eixo especificado)
        - space-evenly:  coloca uma quantidade uniforme de espaço entre cada item da grade, incluindo as extremidades (no eixo especificado)
    O <place-content> é o shorthand do <justify-content> e <align-content>, que segue a ordem dada no ex:
        align-content: center;              // align grid vertically in container
        justify-content: space-evenly;      // align grid horizontally in container
        place-content: center space-evenly; // [align-content] [justify-content]
    */
}

/* GRID ITEM PROPS */