* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btn {
    color: #FFF;
    background-color: #08c079; 
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #066440;
}