<header>
    <nav>
        <a href="#" id="logo">EJS</a>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>

    <p class="indice-page">
        Página: <%= typeof pagina !='undefined' ? pagina : 'Home' %>
    </p>
</header>