/* ========== Global Settings ========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}


/* ========== Pagination Styling ========== */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background: #20b2aa;
}

.pagination ul {
    display: flex;
    background: #FFF;
    padding: 0.8rem;
    border-radius: 5rem;
}

.pagination ul li {
    color: #20b2aa;
    list-style: none;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    margin: 0 0.3rem;
}

.pagination ul li.dots {
    font-size: 2.2rem;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 2rem;
}

.pagination ul li.prev {
    border-radius: 25px 5px 5px 25px;
}

.pagination ul li.next {
    border-radius: 5px 25px 25px 5px;
}

.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover {
    background: #20b2aa;
    color: #FFF;
}


