/* ========== Global Settings ==========  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-size: 62.5%;/*1rem = 10px*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

/* ========== Todo List Styling ========== */
body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}

.wrapper {
    margin: 12rem auto;
    max-width: 40rem;
    width: 100%;
    background: #FFF;
    border-radius: 5px;
    padding: 2.5rem;
}

.wrapper header {
    font-size: 3rem;
    font-weight: 600;
}

.wrapper .inputField {
    display: flex;
    height: 4.5rem;
    width: 100%;
    margin: 2rem 0;
}

.inputField input {
    width: 85%;
    height: 100%;
    border: 1px solid #CCC;
    outline: none;
    font-size: 1.7rem;
    border-radius: 3px;
    padding-left: 1.5rem;
}

.inputField button {
    width: 6rem;
    height: 100%;
    border: none;
    outline: none;
    background: #8E49E8;
    color: #FFF;
    /* font-size: 2.2rem; */
    cursor: pointer;
    border-radius: 3px;
    margin-left: 0.5rem;
    opacity: 0.6;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.inputField button i {
    font-size: 2.2rem;
}

.wrapper .todoList {
    max-height: 25rem;
    overflow-y: auto;
}

.todoList li {
    list-style: none;
    height: 4.5rem;
    line-height: 4.5rem;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 0.8rem;
    padding: 0 1.5rem;
    cursor: default;
    overflow: hidden;
}

.todoList li span {
    position: absolute;
    right: -4.5rem;
    color: #FFF;
    width: 4.5rem;
    background: #E74C3C;
    text-align: center;
    border-radius: 0 3px 3px 0; 
    cursor: pointer;
    transition: all 0.3s ease;
}

.todoList li:hover span {
    right: 0;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
}

.footer button {
    border: none;
    outline: none;
    background: #8e49e8;
    color: #FFF;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 3px;
    padding: 0.6rem 1rem;
}