 html {
    font-size: 62.5%;/* 1rem = 10px */
}

* {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e9fcfc;
}

/* ==== Centralization ===== */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 31rem;
    padding: 0 5rem;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.3s ease 0.3s;
}

/* ===== Styling Elements ===== */

.center button {
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5rem;
    padding: 0.5rem 0;
    cursor: pointer;
    background: linear-gradient(#3D42C2, #373BAE, #31349B);
    transition: 0.5s;
}

button:hover {
    background: linear-gradient(#31349B, #373BAE, #3D42C2);
}

button p {
    color: white;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1.5rem;
}

button .loading, button .fa {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button .loading {
    width: 0%;
    border-radius: 5rem;
    background: linear-gradient(#3D42C2, #373BAE, #31349B);
}

button .fa {
    color: white;
    font-size: 3.5rem;
    line-height: 6.5rem;
    transform: scale(0);
}

/* ==== Active Button ===== */
.center.active {
    padding: 0;
}

.center.active button {
    background: #d9d9d9;
    margin-top: 0;
}

.center.active button p {
    display: none;
}

.center.active button .loading {
    width: 100%;
    transition: all 2.7s ease 0.6s;
}

/* ==== Upload Complete ===== */

.center.active button.success {
    padding: 3.5rem 0;
    width: 25rem;
}

.center.active button.success .fa {
    transform: scale(1);
    transition: transform 0.2s linear 0.3s;
}