<!DOCTYPE html>
<html lang="en">

<%- include('head') %>

    <body>
        <%- include('header') %>
            <main>
                <div class="jumbotron">
                    <h1>Sobre mim</h1>
                    <p>Oi sou Pablo Alan estudante de Desenvolvimento Web</p>
                </div>
            </main>
            <%- include('footer') %>
    </body>

</html>