<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página com EJS</title>
    <!-- <link rel="stylesheet" type="text/css" href="../public/styles/style.css"> -->
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }

        :root {
            --gray-100: #f2f3f8;
            --gray-300: #EAEBF0;
        }

        @media(max-width: 1080px) {
            html {
                font-size: 93.75%;
                /*15px*/
            }
        }

        @media(max-width: 720px) {
            html {
                font-size: 87.5%;
                /*14px*/
            }
        }

        body {
            /* text-align: center; */
            padding-top: 3rem;
        }

        header,
        main,
        footer {
            margin: auto;
            max-width: 60vw;
        }

        header nav {
            background-color: var(--gray-100);
            padding: 1rem;
            border-radius: 2px;
            display: flex;
        }

        nav a#logo {
            margin-right: 2rem;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: #000;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 0.5rem;
        }

        nav ul li a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 400;
            color: #000;
        }


        main {
            background-color: var(--gray-300);
            padding: 4rem 1.5rem;
            border-radius: 5px;
        }

        footer {
            text-align: center;
            padding: 1rem;
            color: #aaa;
        }
    </style>
</head>