html {
    font-size: 62.5%;/*1rem = 10px*/
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    background-size: cover;
}

/* ===== Styling General Buttons ===== */
.btn1 button, .btn2 button {
    position: relative;
    display: block;
    margin: 0 2rem;
    border: none;
    color: white;
    background: #222;
    padding: 1.7rem 6rem;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .2);
    overflow: hidden;
}

/* ===== Styling Animated Buttons ===== */

button:hover {
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, .2);
}

.btn1 button::after,
.btn2 button::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    transition: all .5s ease-in-out;
}

/*Criando os retangulos externos*/

.btn1 button::after {
    background: #78c7d2;
    transform: translate(-98%, -25%) rotate(45deg);
}

.btn2 button::after {
    background: #78c7d2;
    transform: translate(-9%, -25%) rotate(45deg);
}

/*Animando os retangulos externos*/
.btn1:hover button::after {
    transform: translate(-9%, -25%) rotate(45deg);
}
.btn2:hover button::after {
    transform: translate(-98%, -25%) rotate(45deg);
}

button span {
    position: relative;
    z-index: 1;
}