:root {
    --color-Background: #121214;
    --color-Cards: #202024;
    --color-Light-Gray: #87868B;
}

body {
    background-color: var(--color-Background);
}

section.repository-list {
    margin: 40px;
    color: #FFF;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;

        li {
            // &: refere-se ao elemento onde o '&' esta contido
            & + li {
                margin-top: 20px;
            }

            // border: 1px solid #ccc;
            border-radius: 3px;
            padding: 10px;
            background-color: var(--color-Cards);

            p {
                font-size: 14px;
                color: var(--color-Light-Gray);
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: #8257e6;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}