body {
    font-size: 16px;
    color: #121214;

    button {
        height: 40px;
        width: 100px;
        margin: 10px;
        font-size: 1em;
        font-weight: 600;
        background-color: transparent;
        color: orangered;
        border: 1.5px solid orangered;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.15s ease;
    }

    button:hover {
        background-color: orangered;
        color: #000;
    }
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    background-color: rgb(94, 192, 209);
    box-shadow: 2px 2px 5px #333;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

ul li:hover {
    transform: scale(1.03);
}

li strong {
    display: block;
    width: 100%;
    text-align: center;
    color: #FFF;
}

li p {
    width: 100%;
    text-align: center;
}

li a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(50, 103, 112);
    transition: all 0.15s ease;
}

li a:hover {
    color: orangered;
}

