html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

nav {
    background: #7159c1;
    padding: 1rem 4rem 1rem 7rem;
    border: 0.1rem solid #3b2d69;
    border-left: 0;
    border-right: 0; 
}

nav ul {
    display: flex;
    list-style: none;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

/* ===== Logo ===== */

nav ul li.logo {
    flex: 1;
}

nav ul li.logo a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 700;
}

nav ul li.logo a:hover {
    color: #CC67DB;
}

/* ===== Menu ===== */

nav ul div.items {
    display: inline-flex;
    padding: 0 2.5rem;
}

nav ul div.items a {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0 1.2rem;
}

nav ul div.items a:hover {
    color: #CC67DB;
}

/* ===== Icon Menu Mobile ===== */
nav ul li.btn {
    padding: 0 2rem;
    display: none;
}


nav ul li.btn span {
    font-size: 2.9rem;
    width: 4.2rem;
    height: 4.2rem;
    text-align: center;
    line-height: 4.2rem;
    border: 0.1rem solid #3b2d69;
    border-radius: 0.5rem;
    cursor: pointer;
}

nav ul li.btn span:hover {
    color: #CC67DB;
}

nav ul li.btn span.show:before {
    content: '\f00d';/*icone de X*/
}



/* ===== Resposivirity ===== */
@media screen and (max-width: 655px) {
    nav {
        padding: 1rem 4rem;
        z-index: 1;/*para ficar acima do menu dropdown*/
    }

    nav ul li.btn {
        display: block;
    }

    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -22rem;
        right: 0;
        width: 100%;
        background: #7259c1;
        display: inline-block;
        transition: top .4s;
    }

    nav ul div.items.show {
        top: 6rem;
    }

    nav ul div.items li {
        text-align: center;
        line-height: 3rem;
        margin: 2.5rem 0;
    }
    
    nav ul div.items li a {
        font-size: 1.9rem;
    }

}