/* @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap'); --> maneira menos recomendada, utilize mais o link */



h1{
    font-family: Pangolin;
}

h2{
    color:darkcyan;
    font-family: Pangolin;
}

em{
 color:darkorchid;
}