/* ========== Global Styling ========== */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* ========== Page Styling ========== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #8E49E8; 
  color: #FFF;
}

header .title {
  margin-left: 30px;
}

header .menu {
  display: flex;
  list-style: none;
}

.menu li {
  padding: 15px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu li:hover {
  background-color: #58318b;
}